@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.nav-bg {
  background-color: #00022a;
}

/* .bg-gray {
  background-color: #f7f7f7;
} */

.relative {
  position: relative;
  bottom: 40px;
}

.text a {
  color: #09215d;
  font-weight: 700;
}

.banner-text {
  font-family: "CharukolaUltraLight", sans-serif;
  font-size: 46px;
  font-weight: 700;
}

/* learn-with-us */
.learn-with-us,
.our-popular-tutors,
.find-subject-specialist {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.tutors {
  display: flex;
  gap: 20px;
}
.tutor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}
.tutors img {
  width: 200px;
  border-radius: 50%;
}

/* FIND YOUR SUBJECT SPECIALIST */
.select-subject button {
  font-size: 20px;
  padding: 5px 30px;
}
